<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings configProtectionProvider="RsaProtectedConfigurationProvider">
        <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
            xmlns="http://www.w3.org/2001/04/xmlenc#">
            <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc" />
            <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
                    <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-oaep-mgf1p" />
                    <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                        <KeyName>Rsa Key</KeyName>
                    </KeyInfo>
                    <CipherData>
                        <CipherValue>f1fJzIuxE62qRBnfo8OYhul7DjQbnMI4X9VVZuqfoOKqsVFfqt/kKdV3reklEtWnGpYkkfpZk0F4+Z6hh6QTjZoxsL2wrP2y0BUk3qwJ7t18LzH87ILGfzsL/VAzPhG8rrYtGh6VXGqOsXiZE7oqS5nuFpxOlNo5Jqdv2d2bn6XkV564Ow2TAivxaHmisNHV1Co9gAUSYZd7k7zdykAzlZMO7hH7ypYXFNq1oYKE+A787Co3pFXMUEY0k71jrEA0voO0ULiEwYBG8q/1XgMzSdQr3ocG+er/0TMSoCbedd5zo6vweuXwnkRHPezs4sJz7QS5prxyerjyQSFk8a4dKA==</CipherValue>
                    </CipherData>
                </EncryptedKey>
            </KeyInfo>
            <CipherData>
                <CipherValue>ETs6I0tgQ3J/xlpSFsEc/9GrzfYC2tUhNLlcQGtrTnQ=</CipherValue>
            </CipherData>
        </EncryptedData>
    </appSettings>
</configuration>